---
import Layout from "../layouts/Layout.astro";
import { Button, Typography } from "antd";
---

<Layout>
	<Typography.Title client:load level={1}>This is an ANT Button</Typography.Title>
	<Button client:load type="primary">Click me</Button>

	<h1>This is a tailwind button</h1>
	<button class="bg-blue-500 hover:bg-blue-700 active:bg-blue-800 text-white p-2 rounded transition-colors duration-200">Click me</button>
</Layout>